/* Theme.css
 *
 * Contains generic styles.
 */
html {
    background: #f3f3f3;
    color: #313131;
    font-size: 2em;
    /* Assumes Google Font 'Rancho' is supported. */
    font-family: 'Rancho', cursive;
}

main {
    width: 50em;
    margin: 0 auto;
    border: 0.1em solid #000;
    border-radius: 1em;
}

h1, h2, h3, h4, h5 {
    margin: 0 1.5rem;
    font-weight: normal;
}

h1 {
    display: none;
}

h2 {
    font-size: 0.8em;
}

h3 {
    font-size: 0.6em;
}

h4 {
    font-size: 0.5em;
}

h5 {
    font-size: 0.4em;
}

input {
    font-size: 1em;
}

dl {
    display: block;
    clear: both;
}

fieldset {
    border: 0;
}

fieldset > legend {
    font-weight: bold;
    font-size: 0.6em;
}
